@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: italic;
  font-weight: 400;
}

.App {
  gap: 3rem;
  letter-spacing: 0.2rem;
}

#header--div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.title_svg {
  width: 320px;
}

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5rem;
}

.main > div {
  border: 0.5rem solid rgb(254, 254, 254);
  border-collapse: collapse;
}

.select-char-sheet {
  background-color: #000000ab;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#selectCharacter--inputTooLong_p {
  margin: 0;
  padding: 0;
}

button {
  font-family: SequentialistBB;
}

#imagelist--container {
  background-color: #050505d4;
  padding: 1rem;
}

.imagelist--items img {
  border: 0.1rem solid white;
}

.container--CharacterCard_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 4rem;

  flex: 1;
}

.container--CharacterCard_main img {
  /* width: 430px; */
  height: 530px;
  object-fit: contain;
}

#placeholderdiv {
  width: 500px;
  height: 530px;
}

#p--characterCard_default-id {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  position: absolute;
  top: 0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  filter: drop-shadow(16px 30px 30px #000000);
  z-index: 1;
}

#p--characterCard_clicked-id {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  filter: drop-shadow(16px 30px 30px #000000);
  z-index: 3;
}

#img--characterCard_clicked-id {
  width: auto;
  position: relative;
  z-index: 2;
}

.img--filter_first {
  background: radial-gradient(
    circle,
    rgba(101, 34, 105, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_second {
  background: radial-gradient(
    circle,
    rgba(77, 206, 200, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_third {
  background: radial-gradient(
    circle,
    rgba(46, 190, 102, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_fourth {
  background: radial-gradient(
    circle,
    rgba(250, 253, 109, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_fifth {
  background: none;
}

#bubble-container {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.bubble {
  position: relative;
  width: 290px;
  background: #fff;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  color: #000;
  word-wrap: break-word;
  font-family: SequentialistBB;
  font-weight: bold;
  opacity: 1;
  z-index: 1;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
.MuiButton-outlined {
  border: 1px solid white !important;
  border-radius: 0 !important;
}

@media screen and (min-width: 900px) {
  #span--title {
    font-size: 2rem;
  }
  .title_svg {
    width: auto;
  }
  .main {
    display: flex;
    max-width: 1280px;
    margin: auto;
  }
  #imagelist--container {
    max-width: 600px;
  }
  #p--characterCard_default-id {
    font-size: 4rem;
  }
  .isReadyMain {
    width: fit-content;
    margin: auto;
  }
}
