@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: italic;
  font-weight: 400;
}

:root{
  --image-height: 500px;
}

.App {
  gap: 3rem;
  letter-spacing: 0.2rem;
}
body{
  background:url("../public/images/desktop_bg.jpg") !important;
  background-size: cover !important;
}

#header--div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.title_svg {
  width: 320px;
}

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
 position: relative;
}

.main > div {
  border: 0.5rem solid rgb(254, 254, 254);
  margin-bottom: -0.5rem;
}

.select-char-sheet {
  background-color: #000000ab;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#selectCharacter--inputTooLong_p {
  margin: 0;
  padding: 0;
}

button {
  font-family: SequentialistBB;
}

#saveBtn{
  display: none;
}

#imagelist--container {
  background-color: #050505d4;
  padding: 1rem;

}

.imagelist--items img {
  border: 0.1rem solid white;
}

.container--CharacterCard_main {

  background-size: cover;
  position: relative;
  flex: 1;
  display: flex;

}

.color-background-char-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding-top: 4rem;
  width: 100%;
}

.container--CharacterCard_main img {
  height: var(--image-height);
  object-fit: contain;
  z-index: 2;
}

#placeholderdiv {
  width: 500px;
  height: var(--image-height);
}



#p--characterCard_clicked-id {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  filter: drop-shadow(16px 30px 30px #000000);
  z-index: 3;
}

#img--characterCard_clicked-id {
  width: auto;
  position: relative;
  z-index: 2;
}

.img--filter_first {
  background: radial-gradient(
    circle,
    rgba(101, 34, 105, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_second {
  background: radial-gradient(
    circle,
    rgba(77, 206, 200, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_third {
  background: radial-gradient(
    circle,
    rgba(46, 190, 102, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_fourth {
  background: radial-gradient(
    circle,
    rgba(250, 253, 109, 1) 0%,
    rgba(18, 17, 18, 0) 60%
  );
}
.img--filter_fifth {
  background: none;
}

#bubble-container {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.bubble {
  position: relative;
  width: 290px;
  background: #fff;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  color: #000;
  word-wrap: break-word;
  font-family: SequentialistBB;
  font-weight: bold;
  opacity: 1;
  z-index: 1;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
.MuiButton-outlined {
  border: 1px solid white !important;
  border-radius: 0 !important;
}


#ready-panel{

  width: 100%;
  position: static;
  background: url("../public/images/space.jpg");
  background-size: cover;
  background-position: bottom;
  
}
#image-overlay{
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.67) ;
}


#image-overlay div{
  background: black;
}

@media screen and (min-width: 900px) {
  #span--title {
    font-size: 1.5rem;
  }

  .main {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 5rem;
  }
  #imagelist--container {
    max-width: 520px;
  }

  .isReadyMain {
    width: fit-content;
    margin: auto;
    padding-bottom: 0;
  }
  #saveBtn{
    display: block;
  }

  #ready-panel{
    width: 100%;
    position: absolute;
    bottom: 0;
   
  }

  .container--CharacterCard_main{
    min-width: 400px;
  }

  .main > div:not(.container--CharacterCard_main) {
    margin-right: -0.5rem;
  }
  .main > div {
    margin-bottom:0;
  }

}
